<!DOCTYPE html>
<html>
  <head>
    <title>Stuart Nelson</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script type="text/javascript" src="/ng-flow-standalone.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body ng-app="FlowApp">
    <div ng-controller="FlowCtrl">
      {[{ yield }]}
    </div>
  </body>
</html>
